@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@400..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'SVN-TV';
		font-weight: 300;
		src: url(/src/lib/font/SVN-TheVoiceRegular.ttf);
	}
	@font-face {
		font-family: 'SVN-HEAD';
		font-weight: 300;
		src: url(/src/lib/font/SVN-TheVoiceHeavyItalic.ttf);
	}
	@font-face {
		font-family: 'HANZEL';
		font-weight: 300;
		src: url(/src/lib/font/UTM-Hanzel.ttf);
	}
}

@layer utilities {
	.center-element {
		@apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
	}
}
