@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	@font-face {
		font-family: 'SVN-TV';
		font-weight: 300;
		src: url(/src/lib/font/SVN-The\ Voice\ Regular.ttf);
	}
}

@layer utilities {
	.center-element {
		@apply left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2;
	}
}
